.divClass {
  border: 3px solid black;
  font-size: 25px;
  background-color: #006aff;
  width: 250px;
  padding: 5px;
  display: inline-table;
  color: white;
}

li {
  font-size: 20px;
  list-style: none;
}

li:hover {
  cursor: pointer;
}
